@import "../../sass/abstracts/abstracts.scss";

.qualification {
    background-color: $color-grey-2;
    padding: rem(62) rem(20) rem(76);
    .container {
        max-width: rem(1420);
        text-align: center;
        @media only screen and (max-width: 81.25em) {
            max-width: rem(1120);
        }
        @media only screen and (max-width: 56.25em) {
            max-width: 80%;
        }
        @include respond("medium") {
            max-width: 90%;
        }
        @media only screen and (max-width: 40.62em) {
            max-width: rem(420);
        }
    }
}

.slider {
    margin-top: rem(60);

    .prevArrow,
    .nextArrow {
        width: rem(18);
        height: auto;
        transform: translate(0, -2.2rem);
    }
}

.prevArrow img {
    transform: rotate(180deg);
    width: 100%;
}

.nextArrow img {
    width: 100%;
}
