@import "../../sass/abstracts/abstracts.scss";

.aboutContainer {
    background-image: url("/background_about.jpg");
    background-size: cover;
    background-position: top center;
    padding: rem(107) 0 rem(120) 0;
    //Offsetting anchor hash tag links to adjust for fixed header
    position: relative;
    margin-top: -72px;
    @include respond("small") {
        text-align: center;
        padding: rem(60) 0;
    }
    .wrapper {
        width: rem(743);
        margin: 0 rem(138) 0 auto;
        @include respond("large") {
            margin: 0 auto;
        }
        @include respond("small") {
            width: 100%;
        }
        p {
            font-size: rem(21);
            line-height: 1.52;
            color: $color-dark-2;
            margin-top: rem(34);
            @include respond("large") {
                font-size: 16px;
            }
            @include respond("small") {
                text-align: left;
                font-size: rem(16);
            }
        }
        &.animation p {
            animation: moveInDown 1s ease-out;
        }
    }
}
