@import "../../sass/abstracts/abstracts.scss";

.cooperation {
    padding: rem(84) rem(20) rem(100);
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    margin-top: rem(69);
    @include respond("large") {
        flex-wrap: wrap;
    }
    & > div {
        margin: 0 rem(19);
        @include respond("large") {
            margin-bottom: 3rem;
        }
    }
}
