@import "../../sass/abstracts/abstracts.scss";

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-content;
    font-size: 19px;
    width: rem(290);
    padding: 10px;
    background-color: $color-white;
    @include respond("extra-large") {
        width: rem(310);
    }
    @include respond("large") {
        font-size: 16px;
    }
    @media only screen and (max-width: 51.25em) {
        font-size: rem(16);
    }
    @include respond("small") {
        width: rem(340);
        border-radius: 4px;
        padding: 30px 20px;
    }

    &.animation .link {
        animation: pulse 0.8s both;
    }
}

.icon {
    width: rem(200);
    margin-bottom: rem(50);
    @include respond("large") {
        width: rem(160);
        margin-bottom: rem(20);
    }
    @media only screen and (max-width: 51.25em) {
        width: rem(120);
    }
    img {
        width: 100%;
    }
}

.heading {
    font-size: rem(24);
    font-weight: 700;
    letter-spacing: 1.2px;
    @include respond("large") {
        font-size: 18px;
    }
    @media only screen and (max-width: 51.25em) {
        font-size: rem(18);
    }
}

.content {
    margin: rem(45) 0;
    line-height: 1.68;
    flex: 1;
    @include respond("large") {
        margin: rem(20) 0;
    }
}

.link {
    min-width: rem(174);
    padding: rem(22);
    line-height: 1;
    border: 1px solid $color-primary;
    letter-spacing: 3.8px;
    text-align: center;

    &:hover {
        color: $color-primary;
    }
    @include respond("large") {
        padding: rem(16);
    }
}
